#pragma once

const char *WIFI_SSID = "Your-WiFi";
const char *WIFI_PASSWORD = "Your-WiFi-Password";
const char *MQTT_BROKER = "your-server-ip";
const uint16_t MQTT_PORT = 1883;
const char *MQTT_USERNAME = "";
const char *MQTT_PASSWORD = "";
const char *DEVICE_ID = "ESP32_003";
const char *DEVICE_KEY = "GH-XXXX-XXXX";